

.fact-area .fact-box {
  box-shadow: 0px 20px 50px rgba(153, 153, 153, 0.2); }

.single-fact {
  text-align: center;
  margin: 45px 0;
  padding: 8px 16px;
  border-right: 1px solid #ddd; }
  @media (max-width: 991px) {
    .single-fact {
      margin: 10px 0;
      padding: 8px 32px; } }
  .single-fact:last-child {
    border-right: 0; }
  .single-fact h2 {
    font-size: 36px;
    margin-bottom: 5px; }
    @media (max-width: 991px) {
      .single-fact h2 {
        font-size: 25px; } }
  .single-fact p {
    margin: 0;
    font-size: 14px; }

